.container {
  background-color: rgb(150, 208, 255);
  padding-top: 30px;
  padding-bottom: 60px;
  padding-right: 20px;
  display: flex;
  justify-content: space-around;
}

.links {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
}

.searchBar {
  position: absolute;
  right: 0px;
  margin-right: 20px;
}