.container {
    margin: 10px;
    background-color: rgba(219, 224, 224, 0.541);
    padding: 10px;
    position: relative;
    width: 330px;
  }
  
  .buttonContainer {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  button {
      border-radius: 0 0 0 14px;
      font-size: 22px;
      padding-right: 8px;
      padding-left: 8px;
      background-color: rgb(240, 137, 137);
      color: rgb(146, 148, 150);
      font-weight: 700;
      cursor: pointer;
  }
  
  button:hover{
      background-color: rgb(191, 227, 252);;
      color: rgb(17, 5, 5);
  }
  
  .imgContainer {
    width: 100%;
    max-height: 300px;
    overflow: hidden;
  }
  
  img {
    width: 100%;
  }
  
  .name {
      position: absolute;
      top: 245px;
      background-color: rgb(211, 255, 220);
      border-radius: 8px;
      padding: 5px 10px 5px 10px;
      margin-left: 5px;
      border: 1.5px solid rgb(180, 180, 180);
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  .descriptionContainer {
      font-size: 14px;
      font-family: monospace;
  }
  
  .descriptionContainer h2 {
      color: rgb(58, 55, 55);
      font-weight: bold;
  }
  
  .descriptionContainer span {
      color:bisque
  }
  